body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: url(../img/img15.png) no-repeat center center fixed;
    background-size: cover;
}

.loginbox {
    width: 420px;
    height: 650px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    from {
        box-shadow: 0 0 10px rgb(0, 255, 128);
    }
    to {
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
    }
}

.avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: absolute;
    top: -15%;
    left: calc(50% - 65px);
    border: 3px solid #08b0ce;
    box-shadow: 0 0 15px rgba(8, 176, 206, 0.7);
    background: transparent;
}

h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 24px;
    color: #08b0ce;
    text-shadow: 0 0 10px rgba(8, 176, 206, 0.8);
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
}

.loginbox input {
    width: calc(100% - 20px);
    margin-bottom: 20px;
}

.loginbox input[type="text"], 
.loginbox input[type="password"], 
.loginbox input[type="email"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    transition: border-color 0.3s ease;
}

.loginbox input[type="text"]:focus, 
.loginbox input[type="password"]:focus, 
.loginbox input[type="email"]:focus {
    border-bottom: 1px solid #08b0ce;
}

.loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 45px;
    background: linear-gradient(45deg, #08b0ce, #005f8f);
    color: #fff;
    font-size: 18px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease, transform 0.3s ease;
}

.loginbox input[type="submit"]:hover {
    background: linear-gradient(45deg, #005f8f, #08b0ce);
    transform: scale(1.05);
}

.formulario_input-error {
    color: #f8d7da;
    background: #f5c6cb;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    display: none; /* Hide by default */
}

.formulario_input-error-activo {
    display: block; /* Show error message when active */
}

.formulario_grupo {
    position: relative;
}

.formulario_grupo-correcto i {
    color: #28a745;
}

.formulario_grupo-incorrecto i {
    color: #dc3545;
}

.formulario_mensaje {
    background: #dc3545;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    display: none; /* Hide by default */
}

.formulario_mensaje-activo {
    display: block; /* Show error message when active */
}

.formulario_mensaje-exito {
    background: #28a745;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    display: none; /* Hide by default */
}

.formulario_mensaje-exito-activo {
    display: block; /* Show success message when active */
}


/* icon */



